{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
           <div class="banner">
               <div class="banner-text">
                      <h1>TODO</h1>
                  </div>
              </div>
        </div>
   </div>
</div>


    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
             <form method="POST" class="p-3 shadow">
     {% csrf_token %}
<div class="form-group">
     <input type="text" class="form-control" name="task" placeholder="Enter your task">
   </div>
   <div class="form-group">
     <input type="text" class="form-control" name="priority" placeholder="Enter the priority">
   </div>
                 <div class="form-group">
     <input type="date" class="form-control" name="date" placeholder="Enter your date">
   </div>
     <input type="submit" class="btn btn-success">
     </form>
</div>


        <div class="col-md-6">
            <h3>Task to be completed</h3>
             {% for i in result %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.task}}</h5>
                   <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.datefield}}</b></p>
                    <a class="btn btn-danger" href="{% url 'todoapp:delete' i.id %}">Done</a>
                    <a class="btn btn-warning" href="{% url 'todoapp:update' i.id %}">Update</a>

                    </div>
            </div>
           {% endfor %}



        </div>
    </div>
</div>
{% endblock %}
