{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

button {
       background-color: #4CAF50;
       width: 100%;
        color: orange;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
         }

 input[type=text], input[type=password] {
        width: 50%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid green;
        box-sizing: border-box;
    }




</style>
</head>
<body style="background-image:url({% static 'img/art.png' %})">

<form action="" method="post">

    {% csrf_token %}
    <center>
<!--        <img class="w-100" src="{% static 'img/a.jpg' %}"  alt="our products" height="450px;" width="500px;">-->

    <h1>Login</h1>
  <input type="text" name="username" placeholder="Enter the username"><br><br>
  <input type="password" name="password" placeholder="Enter the password"><br><br>
    <input type="submit"/>
  <a href="{% url 'finance:register' %}">Register Link</a>
</center>
</form>
 {% for i in messages %}
    <h3>{{i}}</h3>
    {% endfor %}
</body>
</html>