{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
                        {% for i in res %}

        <div class="col-md-3">
            <div class="card">
            <h3 style="color:blue;" class="card-title">{{i.name}}</h3>
            <div class="card-body">
            <img src="{{i.img.url}}" alt="Card image cap" width='200px' height="200px"><br><br>

<!--    <p class="card-text">{{i.desc}}</p>-->
<div class="btn btn-default btn-lg">

                <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-outline-primary">View details</a><br><br>
<a class="btn btn-outline-danger" href="{% url 'movieapp:delete' i.id %}"> Delete</a>
                    <a class="btn btn-outline-success" href="{% url 'movieapp:add' %}"> Add</a>
</div>

              </div>

             </div>
<br>
        </div>
        {% endfor %}
    </div>

</div>




{% endblock %}



